@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #61dafb;
}

/* Sección de bienvenida */
section {
    padding: 40px;
    background-color: white;
    text-align: center;
}

section h2 {
    font-size: 36px;
    color: #282c34;
}

section p {
    font-size: 18px;
    color: #666;
}
/* Estilos del menú de navegación */
nav {
    position: relative;
}

.menu-toggle {
    display: none; /* Ocultar el menú por defecto */
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
}

/* Oculta la lista de navegación por defecto en dispositivos móviles */
.nav-list {
    display: none;
    list-style: none;
    padding: 0;
}

.nav-list.active {
    display: flex; /* Muestra el menú cuando se activa */
    flex-direction: column;
    position: absolute;
    top: 50px; /* Ajusta según la altura de tu cabecera */
    background-color: #282c34;
    width: 100%;
}

.nav-list li {
    padding: 15px;
    text-align: center;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .menu-toggle {
        display: none; /* Ocultar menú hamburguesa en pantallas grandes */
    }
    .nav-list {
        display: flex; /* Muestra el menú normalmente en pantallas grandes */
        flex-direction: row;
        position: static; /* Mantener la lista estática */
    }
}

.button {
    background: linear-gradient(to right, #3b82f6, #1d4ed8);
    border: none; /* Elimina el borde */
    padding: 12px 24px; /* Ajusta el padding si es necesario */
    border-radius: 4px; /* Redondea las esquinas */
    color: white; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Aumenta el peso de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background 0.3s; /* Transición suave en el fondo */
}

.button:hover {
    background: linear-gradient(to right, #1d4ed8, #3b82f6); /* Cambia el fondo al pasar el ratón */
}

.button:focus {
    outline: none; /* Elimina el contorno al enfocar */
}
